<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My webpage</title>
    <link href='https://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/6b7599a113.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- [if IE]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif] -->

</head>

<body>
    <!-- LANDING PAGE -->
    <section id="home">
        <!-- OVERLAY -->
        <div class="overlay">
            <!-- PRIMARY NAVIGATION -->
            <nav role="navigation">
                <ul class="vertical-list">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About me</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/contact">Contact Me</a></li>
                </ul>
            </nav>
            <!-- END OF PRIMARY NAVIGATION -->

  <!-- ABOUT -->
  <section id="about">
    <!-- CONTAINER -->
    <div class="container">
      <img src="image/profilePic.jpg" class="img-thumbnail" alt="Dennapa Harachai (Jekky)" width="20%" />
      <h2>Personal Detail</h2>
      <div class="row info">
        <p>
          I'm a passionate, logical, problem-solver with strong planning
          skills. I have experience in Human Resources and Guest Relations in
          the hospitality industry. I excel in a fast-paced work environment
          and have strong conflict resolution skills and can easily ensure
          clients’ satisfaction and loyalty. <br />I am able to support daily
          function of the digital department and to optimize brand management
          towards increasing employee satisfaction, and company revenue.
          <br />I am actively looking to contribute experience in web design,
          web development creating web applications and services. And
          integration database from MongoDB, also deployment on cloud
          application platform.
        </p>
      </div>

      <!-- Skills -->
      <div class="container-fluid">
        <h2>Skill Sets</h2>
        <div class="row">
          <div class="col">
            <p><strong>Web Development Skills</strong></p>
            <a href="https://www.freepnglogos.com/images/html5-logo-31816.html" title="Image from freepnglogos.com"><img
                src="https://www.freepnglogos.com/uploads/html5-logo-png/html5-logo-devextreme-multi-purpose-controls-html-javascript-3.png"
                width="200" alt="html5 logo, devextreme multi purpose controls html javascript" /></a>
            <br /><img src="image/angular.png" width="80px" />
            <img src="image/reactJS.png" width="100px" />
          </div>
          <div class="col">
            <p><strong>Programming Skills</strong></p>
          </div>
          <div class="col">
            <p><strong>Microsoft Office</strong></p>
          </div>
        </div>
      </div>
    </div>
    <!-- END OF CONTAINER -->
  </section>
  <!-- END OF ABOUT -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>

</html>