<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>My webpage</title>
  <link href="https://fonts.googleapis.com/css?family=Fauna+One" rel="stylesheet" type="text/css" />
  <script src="https://kit.fontawesome.com/6b7599a113.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/main.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <section id="home">
    <!-- PRIMARY NAVIGATION -->
    <div class="overlay">
      <nav role="navigation">
        <ul class="vertical-list">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About me</a></li>
          <li><a href="/porfolio">Portfolio</a></li>
          <li><a href="/contact">Contact Me</a></li>
        </ul>
      </nav>
    </div>
  </section>
  <!-- END OF PRIMARY NAVIGATION -->

            <!-- CONTAINER -->
            <div class="container">

            </div>
            <!-- END OF CONTAINER -->
        </div>
        <!-- END OF OVERLAY -->
    </section>
    <!-- END OF LANDING PAGE -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
  
</body>

</html>